body, html {
  margin: 0;
  padding: 0;
  background-color: #FFF2D8;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #1E708A;
  padding-top: 60px;

}

* {
  box-sizing: border-box;
}


/* ---------NavBar Styling--------- */

header {
  background-color: #EAD7BB;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 1;
  border-bottom: solid 2px #BCA37F;
}

nav {
  max-width: 2100px;
  height: 40px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.nav_left, .nav_right {
  width: 50%;
  flex-wrap: nowrap;
}

.nav_right {
  justify-content: right;
  align-items: flex-end;
}

.nav_right a:last-child {
  margin-right: 3px;
}

.nav_left a:first-child {
  margin-left: 3px;
}

#github {
  max-height: 38px;
  padding-top: 3px;
}

#linkedin {
  max-height: 33px;
  margin-bottom: 3px;
  padding: 3px 10px 0;
}

.image_link {
  align-items: flex-end;
  padding: 0 10px;
}

.nav_right>a {
  padding: 3px 10px 3px;
  margin-left: auto;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}

.nav_right>a:link, .nav_right>a:visited {
  color: #1E708A;
}

.nav_right>a:hover, .image_link:hover {
  border-bottom: solid #1E708A 2px;
  padding-top: 0;
  transition: border-bottom, padding-top 0.1s;
}

.nav_right>a:active, .image_link:active {
  border-bottom: solid #1E708A 0px;
  padding-top: 3px;
  background-color: #BCA37F;
  border-radius: 3px;
  transition: border-bottom, padding-top, border-radius, background-color 0.1s;
}


/* ---------Welcome Page--------- */

.welcome {
  width: 100vw;
  height: 90vh;
  max-width: 2100px;
  margin: 0 auto;
  flex-direction: column;
  background-image: url(images/KG_oroville_1327_02_14_2020_Compressed.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  scroll-margin-top: 60px;
}

.welcome>h1, .welcome>h2 {
  color: #ffffff;
}

.welcome>h1 {
  font-size: 5vw;
  text-align: center;
  margin: 0;
  text-shadow: 10px 10px 15px #9BABB8;
}

.welcome>h2 {
  font-size: 4vw;
  text-align: center;
  margin: 0;
  text-shadow: 10px 10px 15px #9BABB8;
}

/* ---------About Page--------- */

.about {
  max-width: 2100px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: 60px;
}

.about_container {
  width: 90%;
  margin: 0 auto;
}

.about_container>h1 {
  font-size: 5vw;
  margin-top: 25px;
  margin-bottom: 12px;
}

.about_container>h3 {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 6px;
}

.profile_container {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 50px;
}

.profile_photo {
  float: right;
  margin: 0 auto;
}

.profile_photo>img {
  border-radius: 50%;
  width: 90%;

}

.profile_dialogue>p, .profile_photo>img {
  font-size: 22px;
  padding: 5px;
  margin: 20px 20px;
  line-height: 30px;
}

.tldr {
  font-style: italic;
}

.tldr>span {
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

.profile_dialogue>p>a:link {
  color: #1E708A;
}

.profile_dialogue>p>a:hover {
  text-decoration: none;
}

.profile_dialogue>p>a:active {
  color: red;
}


/* ---------Project Page--------- */

.projects {
  max-width: 2100px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: 60px;
}

.software_container, .construction_container {
  width: 90%;
  margin: 0 auto;
}

.software_container>h1, .construction_container>h1 {
  font-size: 5vw;
  margin-top: 25px;
  margin-bottom: 12px;
}

.software_container>h3, .construction_container>h3 {
font-size: 3vw;
margin-top: 0;
margin-bottom: 6px;
}

.construction_project {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 50px;
}

.construction_project>p {
  font-size: 22px;
  padding: 5px;
  margin: 20px 20px;
  line-height: 30px;
}

/* ---------Contact Page--------- */

.contact {
  max-width: 2100px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: 60px;
}

.contact_container {
  width: 90%;
  margin: 0 auto;
}

.contact_container>h1 {
  font-size: 5vw;
  margin-top: 25px;
  margin-bottom: 12px;
}

.contact_options_container {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 50px;
  justify-content: space-between;
}

.contact_options, .contact_location {
  margin: 20px 20px;
}

.contact_list, .contact_location>p {
  font-size: 3vw;
  text-align: center;
  flex-direction: column;
}

.contact_list>li {
  font-size: 2.5vw;
  text-align: left;
  flex-wrap: nowrap;
  flex: 1;
  margin: auto, 0;
  padding-top: 40px;
}

.contact_list>p, .contact_location>p {
  text-decoration: underline;
}

.contact_list>p {
  margin: 0;
}

.contact_list>li>a:link {
  color: #1E708A;
}

.contact_list>li>a:hover {
  text-decoration: none;
}

.contact_list>li>a:active {
  color: red;
}


