body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-top: 70px;
}

* {
  box-sizing: border-box;
}

/* ---------NavBar Styling--------- */

.navbar {
  background-color: #1E708A;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;

}

.nav-link {
  color: #ffffff;
  margin: 10px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link:hover, .navbar-brand:hover {
  text-decoration: underline #BCA37F 2px;
  color: rgba(255, 255, 255, 0.5);
  transition: all, 0.5s;
}

.nav-link:active, .navbar-brand:active {
  text-decoration: underline #bca37f 2px;
  color: #ffffff;
}


/* ---------About Page--------- */

.about {
  min-height: 100vh;
  max-width: 2100px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  scroll-margin-top: 70px;
}

.about_container {
  width: 90%;
  margin: 0 auto;
}

.about_container_parts {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 10px;
  margin: 0;
}

#name {
  font-size: 70px;
  font-weight: 700;
  margin: 10px 0;
}

#occupation {
  font-size: calc(1.2rem + 0.25vw);
  font-weight: 600;
  margin: 10px 0;
}

.email:link, .email:visited, .email:active {
  color: #1E708A;
}

.email:hover {
  color: rgba(30, 112, 138, 0.5);
}

.photo {
  margin: 0 auto;
  max-width: 500px;
}

.photo img {
  border-radius: 50%;
  width: 100%;
  border: solid 5px #EAD7BB;
}

.descript p {
  font-size: calc(1rem + 0.25vw);
}

#github, #linkedin {
  width: calc(4rem + 0.5vw);
  height: calc(4rem + 0.5vw);
  color: #1E708A;
  margin-bottom: 5px;
}

#resume {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
  margin: 5px;
  background-color: #1E708A;
  border: 2px solid #1E708A;
}

#github:hover, #linkedin:hover {
  color: rgba(30, 112, 138, 0.5);
  transition: 0.5s;
}

#resume:hover {
  background-color: rgba(30, 112, 138, 0.5);
  transition: 0.5s;
}

#resume:active {
  background-color: rgba(30, 112, 138, 1);
}


/* ---------Project Page--------- */

.projects {
  max-width: 2100px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: 70px;
}

.software_container, .construction_container {
  width: 90%;
  margin: 0 auto;
}

.software_container>h1, .construction_container>h1 {
  font-size: 5vw;
  margin-top: 25px;
  margin-bottom: 12px;
}

.software_container>h3, .construction_container>h3 {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 6px;
}

.construction_project {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 50px;
}

.construction_project>p {
  font-size: 22px;
  padding: 5px;
  margin: 20px 20px;
  line-height: 30px;
}

/* ---------Contact Page--------- */

.contact {
  max-width: 2100px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: 60px;
}

.contact_container {
  width: 90%;
  margin: 0 auto;
}

.contact_container>h1 {
  font-size: 5vw;
  margin-top: 25px;
  margin-bottom: 12px;
}

.contact_options_container {
  background-color: #EAD7BB;
  border: solid 2px #BCA37F;
  border-radius: 50px;
  justify-content: space-between;
}

.contact_options, .contact_location {
  margin: 20px 20px;
}

.contact_list, .contact_location>p {
  font-size: 3vw;
  text-align: center;
  flex-direction: column;
}

.contact_list>li {
  font-size: 2.5vw;
  text-align: left;
  flex-wrap: nowrap;
  flex: 1;
  margin: auto, 0;
  padding-top: 40px;
}

.contact_list>p, .contact_location>p {
  text-decoration: underline;
}

.contact_list>p {
  margin: 0;
}

.contact_list>li>a:link {
  color: #1E708A;
}

.contact_list>li>a:hover {
  text-decoration: none;
}

.contact_list>li>a:active {
  color: red;
}


